ul a {
	font-size: 22px;
	margin-left: 30px;
}
.li-main {
	margin-top: 24.39px;
}
.green {
	color: #4AC20E;
}
.blue {
	color: #3D58A6;
}
.li-blog {
	margin-top: 2.24px;
}
.li-photo {
	margin-top: 2.24px;
}